*,*::after,*::before{
    margin: 0;
    padding: 0;
}
.body{
    padding: 0;
}
/* headers styles */
header{
    display: flex;
    position: fixed;
    width: 100%;
    /* border: 2px solid seagreen; */
    height: 10vh;
    max-height: 100vh;
    background-color: black;
    opacity: 0.9;
    z-index: 4;
}
main{
    padding-top: 4rem;
    background-color: rgb(14, 3, 3);
}
.mode-container{
    flex: 4%;
    /* border: 2px solid black; */
}
.org-name-container{
    flex: 16%;
    /* border: 2px solid red; */
}
.nav-container{
    flex: 60%;
    
    /* float: right; */
    /* border: 2px solid yellow; */
 
}
.fa-caret-down{
    color: white;
    padding-left: 9px;
    align-items: center;
    justify-content: center;
}
.reg-container{
    flex: 20%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode{
   
    /* border: 1px solid black; */
    /* background-color: blueviolet; */
    border-top-right-radius: 30%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 15%;
    padding: 0.9rem;
    position: absolute;
    background-color: whitesmoke;
    
}
.org_name{
    margin-left: 4rem;
    background-color: blue;
    padding-left: 1.9rem;
    padding-right:1.9rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    /* justify-content: center; */
    align-items: center;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius:40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
.navigator{
    float: right;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.navigator ul{
    display: flex;
    
    
}
.navigator ul li{
    flex: 1;
    list-style: none;
    /* margin-top: 5px; */
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    /* border: 3px solid grey; */
    text-align: center;
    
    
}
.navigator ul li a{
    text-decoration: none;
    color: white;
    display: inline-flex;
    align-items: center;
}
.navigator ul li ul li{
    display: none;
}
.registration-sign{
    /* border: 2px solid purple; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: blue;
}
.registration-log{
    /* border: 2px solid darkgreen; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: blue;
}
.registration-log a ,.registration-sign a{
    color: black;
    text-decoration: none;
}
/* end of header styles */


/* footer styles */
footer{
    background-color: rgb(54, 54, 56);
    height: auto;
    border: 2px solid rgb(54, 54, 56);
   
}
.upper-footer{
    display: flex;
    margin: 6rem;

}
.upper-footer-1{
    flex: 1;
    padding-right: 5rem;
    /* border: 3px solid blue; */
    
}
.upper-footer-1 p{
    color: white;
}
.upper-footer-1 h5{
    color: white;
}
.cont-icons{
    margin-top: 1rem;
    
}
.cont-icons a{
    text-decoration: none;
    color: black;
}
.cont-icons i{
    padding: 7px;
    font-size:larger;
}
.copr{
    margin-top: 4rem;
    color: white;
}
.upper-footer-2 ,.upper-footer-3 ,.upper-footer-4{
    flex: 1;
    /* border: 2px solid green; */
  
}
.upper-footer-2 h3 a ,.upper-footer-3 h3 a ,.upper-footer-4 h3 a{
    color: white;
    text-decoration: none;
}
.upper-footer-2 ul li  ,.upper-footer-3 ul li ,.upper-footer-4 ul li {
    color: white;
    list-style: none;
    padding: 3px;
}
.upper-footer-2 ul li a ,.upper-footer-3 ul li a ,.upper-footer-4 ul li a{
    color: white;
    text-decoration: none;
}

/* end of footer styles */


/* part1 styles */
.part1{
    /* border: 3px solid red; */
    padding: 3rem;
}
.welcome{
    /* border: 2px solid purple; */
    width: 4rem;
    text-align: center;
    border-radius: 5px ;
    box-shadow: 1px 2px rgb(121, 4, 4);
    margin-left: 4rem;
    margin-bottom: 5px;
    color:white;
}
.box1{
    /* border: 2px solid  violet; */
    padding-left:5rem;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    font-size: 29px;
    height: 4rem;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 10rem;
    background-color: blue;
    color:white;
}
.box2{
    /* border: 2px solid green; */
    height: 4rem;
    width: 20rem;
    margin-left: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
}
.box3{
    /* border: 2px solid yellow; */
    display: flex;
}
.box3-left{
    /* border: 2px dotted darkblue; */
    flex: 45%;
    padding-left: 4rem;
    padding-top: 20px;
}
.box3-left button{
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    background-color: blue;
}
.box3-left button a{
    text-decoration: none;
    color: white;
}
.box3-right{
    /* border: 2px solid rgb(40, 20, 220); */
    flex: 55%;
    height: 4rem;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    background-color: blue;
}
.box4{
    /* border: 2px solid saddlebrown ;     */
    height: 19rem;
    width: 30rem;
    float: right;
    position: relative;
    margin-top: -16.5rem;
    margin-right: 3rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: repeat( minmax( 100%,1fr)); */
}   
.card{
    /* border: 3px solid orange; */
    background-color: black;
    box-shadow: 2px 1px rgb(77, 45, 45);
    padding-left: 5px;
}
.icon{
    /* height: 30px;
    width: 30px;
    border-radius: 50%; */
    /* border: 1px solid rgb(32, 30, 18); */
    color: white;
    margin: 14px;
   
   

}
.icon i{
    text-align: center;
}
.field-name{
    color: white;
    
}
.field-name h4{
    text-decoration: underline;
}
.field-summary{
    color: white;
    font-size: 13px;
    margin-top:9px;
}
/* end of part1 styles */

/* Part2 styles */
.part2{
    /* border: 3px solid red; */
    padding: 3rem;
}
.feature{
    /* border: 2px solid purple; */
    width: 4rem;
    text-align: center;
    border-radius: 5px ;
    box-shadow: 1px 2px rgb(121, 4, 4);
    margin-left: 4rem;
    margin-bottom: 5px;
    color:white;
}
.c1{
    /* border: 2px solid  violet; */
    padding-left:5rem;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    font-size: 29px;
    height: 4rem;
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 10rem;
    background-color: blue;
    color:white;
}
.c2{
    /* border: 2px solid green; */
    height: 10rem;
    width: 20rem;
    margin-left: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
}
.c3{
    /* border: 2px solid yellow; */
    display: flex;
}
.c3-left{
    /* border: 2px dotted darkblue; */
   
    padding-left: 4rem;
    padding-top: 5px;
    color: white;
    
}

.c3-right{
    /* border: 2px solid rgb(40, 20, 220); */
    margin-left: 4rem;
    padding-top: 5px;
    color: white;
    
}
.digits{
    font-size: 1.5rem;
}
.text{
    padding-top: 2px;
    font-size: 10px;
}
.c4{
    /* border: 2px solid saddlebrown ;     */
    height: 23rem;
    width: 20rem;
    float: right;
    position: relative;
    margin-top: -21rem;
    margin-right: 3rem;
    object-fit: contain;
    object-position: center;
    background-image: url(images/pica.jpg);
}   
/* end of part2 styles */

/* Part3 Styles */
.part3{
    /* border: 3px solid red; */
    padding: 3rem;
}
.projects{
    /* border: 2px solid purple; */
    width: 4rem;
    text-align: center;
    border-radius: 5px ;
    box-shadow: 1px 2px rgb(121, 4, 4);
    
    margin-left: 58rem;
    margin-bottom: 8px;
    color:white;
}
.d1{
    /* border: 2px solid  violet; */
    padding-left:5rem;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    font-size: 29px;
    height: 4rem;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 10rem;
    background-color: blue;
    color:white;
    text-align: right;
    padding-right: 9rem;
    
    /* justify-content: center; */
}
.d2{
    /* border: 2px solid green; */
    height: 8rem;
    width: 20rem;
    margin-left: 35rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
}
.d3{
    /* border: 2px solid yellow; */
    display: flex;

}
.d3-left{
    /* border: 2px dotted darkblue; */
    flex: 1;
    
}

.d3-right{
    /* border: 2px solid rgb(40, 20, 220); */
    flex: 1;
    margin-left: 7rem;
    padding-top: 5px;
    color: white;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(2,1fr);
    
}
.card1{
    display: inline-flex;
    height: 2rem;
    align-items: center;
    border-radius: 2px;
    box-shadow: 1px 2px rgb(53, 11, 11);
    padding-left: 7px;
}
.card1 p{
    margin-left: 5px;
}
.d4{
    /* border: 2px solid saddlebrown ;     */
    height: 23rem;
    width: 20rem;
    /* float: left; */
    margin-left: 4rem;
    position: relative;
    margin-top: -20rem;
    object-fit: contain;
    object-position: center;
    background-image: url(images/picb.jpg);
}   


/* End of part3 styles */

/* Part4 Styles */
.part4{
    /* border: 3px solid red; */

    padding: 3rem;
}
.events{
    /* border: 2px solid purple; */

    width: 6rem;
    text-align: center;
    border-radius: 5px ;
    box-shadow: 1px 2px rgb(121, 4, 4);
    margin-left: 4rem;
    margin-bottom: 5px;
    color:white;
}
.e1{
    /* border: 2px solid  violet; */

    padding-left:5rem;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    font-size: 29px;
    height: 4rem;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 10rem;
    background-color: blue;
    color:white;
}
.e2{
    /* border: 2px solid green; */

    /* height: 10rem; */
    width: 20rem;
    margin-left: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
}
.e3{
    /* border: 2px solid yellow; */
    /* width: 17rem; */
    height: 20rem;
    display: block;
    padding-left: 2.5rem;
}
.e3-card i{
    padding: 1rem;
    color: blue;
    font-size: larger;
    
}
.e3-card {
    /* padding: 2rem; */
    /* border: 2px solid purple; */
    display: flex;
    margin-right: 8px;
    margin-top: 9px;
    height: 8rem;
    box-shadow: 1px 3px rgb(53, 11, 11);

}
.e3-right{
    margin-left: 4px;
    color: white;
}
.e3-right h4{
    font-weight: 400;
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 5px;
}
.e3-right p{
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 5px;

}

/* .e4{
    border: 2px solid saddlebrown ;    

    height: 23rem;
    width: 20rem;
    float: right;
    position: relative;
    margin-top: -21rem;
    margin-right: 3rem;
    object-fit: contain;
    object-position: center;
    background-image: url(images/pica.jpg);
}   */
/* End of Part4 Styles */
/* part5 styles */
.part5{
    /* border: 3px solid red; */

    padding: 3rem;
}
.patners{
    /* border: 2px solid purple; */

    width: 6rem;
    text-align: center;
    border-radius: 5px ;
    box-shadow: 1px 2px rgb(121, 4, 4);
    margin-left: 32rem;
    margin-bottom: 5px;
    align-items: center;
    color:white;
}
.part5 h2{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
    color: white;
}
.patners-card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: rgb(61, 14, 14);
    align-items: center;
    margin-top:12px;
    margin-bottom: 4rem;
    /* justify-items: center; */
}
.patners-card-name{
    display: inline-flex;
    border-right: 1px solid rgb(124, 24, 24);
}
.patners-card-name i{
    font-size: 2rem;
    color: white;
    padding: 8px;
}
/* End of part5 styles */
/* Part6 Styles */

/* End of part6 Styles */